


/*
.button { 
   -fx-background-color: red; 
   -fx-text-fill: white; 
}

pane {
    -fx-border-color: black;
}

togglebutton {
	-fx-base: lightblue;
	-fx-background-color: green;
}
*/
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
